<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NLog" version="5.2.4" targetFramework="net472" />
  <package id="NLog.Config" version="4.7.15" targetFramework="net472" />
  <package id="NLog.Schema" version="5.2.4" targetFramework="net472" />
  <package id="reactiveui-core" version="2.3.2.0" targetFramework="net472" />
  <package id="reactiveui-xaml" version="2.3.2.0" targetFramework="net472" />
  <package id="Rx_Experimental-Main" version="1.1.10605" targetFramework="net472" />
  <package id="Rx_Experimental-Xaml" version="1.1.10605" targetFramework="net472" />
  <package id="ServiceProcess.Helpers" version="0.9.1.9" targetFramework="net472" />
</packages>